<h1>Dữ liệu gửi về: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>Nhập mã nhân viên:</label>
    <input type="text" name="PersonId" />
    <lavel>Nhập họ tên:</label>
    <input type="text" name="FullName" />
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address" />
    <input type="submit" value="Gửi" />
</form>